<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 http://maven.apache.org/xsd/settings-1.2.0.xsd">
<servers>
<server>
<username>mediriteblr.kiran@gmail.com</username>
<password>cmVmdGtuOjAxOjE3NjQ0MzI1NDM6bzZFb3NVbFFHS0ppdllhMkwyZEFLTE1nUEc1</password>
<id>central</id>
</server>
<server>
<username>mediriteblr.kiran@gmail.com</username>
<password>cmVmdGtuOjAxOjE3NjQ0MzI1NDM6bzZFb3NVbFFHS0ppdllhMkwyZEFLTE1nUEc1</password>
<id>snapshots</id>
</server>
</servers>
<profiles>
<profile>
<repositories>
<repository>
<snapshots>
<enabled>false</enabled>
</snapshots>
<id>central</id>
<name>aptindia-libs-release</name>
<url>https://trialp3v70a.jfrog.io/artifactory/aptindia-libs-release</url>
</repository>
<repository>
<snapshots/>
<id>snapshots</id>
<name>aptindia-libs-snapshot</name>
<url>https://trialp3v70a.jfrog.io/artifactory/aptindia-libs-snapshot</url>
</repository>
</repositories>
<pluginRepositories>
<pluginRepository>
<snapshots>
<enabled>false</enabled>
</snapshots>
<id>central</id>
<name>aptindia-libs-release</name>
<url>https://trialp3v70a.jfrog.io/artifactory/aptindia-libs-release</url>
</pluginRepository>
<pluginRepository>
<snapshots/>
<id>snapshots</id>
<name>aptindia-libs-snapshot</name>
<url>https://trialp3v70a.jfrog.io/artifactory/aptindia-libs-snapshot</url>
</pluginRepository>
</pluginRepositories>
<id>artifactory</id>
</profile>
</profiles>
<activeProfiles>
<activeProfile>artifactory</activeProfile>
</activeProfiles>
</settings>
